{% block form_row %}
    {#<div>
        <label for="fos_user_registration_form_email" class="required">Email:</label>
        <input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" />
    </div>#}
    <div class='field'>
        {{ form_label(form) }}
        {{ form_widget(form,{'attr' : {"class":"form-control"}}) }}
        {{ form_errors(form,{'attr' : {"class":"error"}}) }}
    </div>
{% endblock %}
{#
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    <div id="fos_user_registration_form" >
        <div>
            <label for="fos_user_registration_form_email" class="required">{{ form_label(form.email) }}</label>
            {{ form_widget(form.email) }}
        </div>

        <div>
            <label for="fos_user_registration_form_plainPassword_first" class="required">{{ form_label(form.plainPassword.first) }}</label>
            {{ form_widget(form.plainPassword.first) }}
        </div>
        <div>
            <label for="fos_user_registration_form_plainPassword_second" class="required">{{ form_label(form.plainPassword.second) }}</label>
            {{ form_widget(form.plainPassword.second) }}
        </div>
        <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="58f2574360e3d084f1f2a91916117c7373d490c8" />
    </div>
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</form>
#}